.main {
  /* view-transition-name: page-transition; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem;
  min-height: 100vh;

  @media (max-width: 730px) {
    padding: 6rem 0;
  }
}


.imageContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.currentItemContainer {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  max-width: min-content;
  margin: 0 auto;
  cursor: pointer;
}

.section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.title {
  margin-bottom: 60px;
  text-align: center;
}

.buttonContainer {
  text-align: center;
}