.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.button {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.robotImage0 {
  view-transition-name: robot-transition;
  position: absolute;
  right: 100px;
  top: 100px;
  height: 100px;
  width: 100px;
  display: block;

}

.robotImage1 {
  view-transition-name: robot-transition;
  height: 300px;
  width: 300px;
  display: none;
}